*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121f3d;

}

.container{
    background-color: #24385b;
    color: white;
    border-style: solid;
    border-color: dimgray;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: none;

}

.container p{
    padding: 1rem;
}

.cabecera{
    text-align:left ;
    background-color: #000d28;
    font-size: 33px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.cabecera #tagline{
    padding: 1rem;
    font-size: 25px;
    font-weight: initial;
    color: white;
}

.logo{
    width: 200px;
}

h1{
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.footer{
    background-color: #03091e;
    color: white; 
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.redes button{
    height: 30px;
    width: 30px;
    font-weight: bold;
    margin: 8px;
    border-radius: 10px;
    border-style: none;
    color: white;
}

.footer p{
    width: 50%;
    margin-left:25%;
    padding: 6px;
}

.T{
    background-color: rgb(0, 149, 255);
}
.F{
    background-image: radial-gradient(circle at 50% -20.71%, #a7deff 0, #6c90d8 50%, #38496b 100%);
}
.I{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.Y{
    background: rgb(255,0,0);
background: linear-gradient(39deg, rgba(255,0,0,1) 70%, rgba(255,68,68,1) 100%);
}

