body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.container{
    text-align: center;
    border-style: solid;
    border-color: dimgray;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.cabecera{
    text-align:left ;
    background-color: #000d28;
    font-size: 33px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px ;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.cabecera #tagline{
    padding: 1rem;
    font-size: 25px;
    font-weight: initial;
    color: white;
}

.logo{
    width: 200px;
}

h1{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.ul{
    display: flex;
    list-style: none;
    margin:0;
    color: white;
}

.nav{
    display: flex;
    background-color: #121f3d;
}

.nav_a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: #121f3d;
    border-style: none;
    height: 2rem;
    font-weight: bold;
    font-size:15px;
}


.ul li {
    padding: 1rem;
}

.logo_nav{
    height: 60px;
}