*{
    margin: 0;
    padding: 0;
    color: white;
}

p{
    margin: 1rem;
}

.bodyDisplay{
    margin: 2rem;
}

.header h1{
    color: white;
}

 .list_items {
    margin: 2rem ; 
}

.list_items li:hover{
    padding: 3px;
    color:#98ca3f ;
    font-weight: bold;
}

.list_items li:hover::after{
content: "✅";
}

.list_items li a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.bloque{
    background-color: #98ca3f;
    padding: 1rem;
    margin: 1rem;
}

.bloque h3{
    margin: 20px;
}


.Inline{
    background-color: #98ca3f;
    padding: 1rem;
    margin: 1rem;

}

.Inline h3{
    margin: 20px;
}


.inline {
    background-color: khaki;
    color: black;
   margin: 10px;
}

.block {
    background-color: khaki;
    color: black;
    margin: 10px;
}


.logoJ{
    width:200px;
}

.header_D h1{
    margin: 20px 0px 20px 0px;
}

.ul_D{
    margin: 1rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ul_D li{
    margin :5px;
    border: 1px solid ;
    padding: 3px;   
    list-style: none;
    text-align: center;
}

.ul_D2{
    margin-left: 3rem;
}

.main h2{
    margin: 1rem;
    color: #98ca3f;
}

.Inline_all{
    /* width: 50%; */
    border-right: 1px solid rgb(255, 255, 255);
    margin: 10px;
}

.Block_all{
    margin: 10px;
}


.inlineBlock_all{
    border-right: 1px solid rgb(255, 255, 255);
    margin: 10px;
    
}

.Flex_Grid_all{
    margin: 10px;
}

.content{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pather{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0c7feb;

}

.son{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: #15033e;
}

.son:nth-child(2n +1){
    background-color: aqua;
}

.pather_grid{
    display: grid;
    width: 200px;
    height: 200px;
    background-color: rgb(242, 8, 8);
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.son_grid{
    background-color: #15033e;
}

.son_grid:nth-child(2n +1){
    background-color: aqua;
}

.body_z{
    background-color: #fff;
    margin: 4rem;
    width: 90%;
    height: 400px;
    z-index: -4;
    position: absolute;
}

.body_z h1{
    color: black;
    padding: 1rem;
}

.div_1{
   
    top: 50px;
    z-index: 0;
}

.div_2{
   
    z-index: -1;
    top: 100px;

}

.div_3{
   
    top: 150px;
    z-index: -2;

}

.div_4{
   
    z-index: -3;
    top: 200px;

}

.main_Z div
{
    left: 43%;
    position: absolute;
    width: 100px; 
    height: 100px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 50%; 
}

.main_CSS{
    background-color: #03091e;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.Card{
    width: 400px;
    height: 500px;
    margin: 1rem;
    border-radius: 10%;
    background-color: #03091e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    border: 5px solid white;
}

.Card h1{
    color: rgb(255, 255, 255);
}
.Card h3{
    color: rgb(255, 255, 255);
}

.img_card{
    top: 0;
    width: 100%;
    height: 40%;
    position: static;
}

.logo{
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: -80px;
}

.logo img{
    width: 150px;
}

.info h3{
    color: rgb(255, 255, 255);
}

.icons{
    background-color: red;
}

.info{
    display: flex;
    justify-content: space-between;
}

#id h1::first-letter{}

p .sidemenu div:hover{}