*{
    margin: 0;
    padding: 0;
}

.bodyDisplay{
    margin: 2rem;
}

.header h1{
    color: white;
}

 .list_items {
    margin: 2rem ; 
}

.list_items li:hover{
    padding: 3px;
    color:#98ca3f ;
    font-weight: bold;
}

.list_items li:hover::after{
content: "✅";
}

.list_items li a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.bloque{
    background-color: #98ca3f;
    padding: 1rem;
    margin: 1rem;
}

.bloque h3{
    margin: 20px;
}


.Inline{
    background-color: #98ca3f;
    padding: 1rem;
    margin: 1rem;

}

.Inline h3{
    margin: 20px;
}


.inline {
    background-color: khaki;
    color: black;
   margin: 10px;
}

.block {
    background-color: khaki;
    color: black;
    margin: 10px;
}


.logoJ{
    width:200px;
}

.header_D h1{
    margin: 20px 0px 20px 0px;
}

.ul_D{
    margin: 1rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ul_D li{
    margin :5px;
    border: 1px solid ;
    padding: 3px;   
    list-style: none;
    text-align: center;
}

.ul_D2{
    margin-left: 3rem;
}

.main h2{
    margin: 1rem;
    color: #98ca3f;
}

.Inline_all{
    /* width: 50%; */
    border-right: 1px solid rgb(255, 255, 255);
    margin: 10px;
}

.Block_all{
    margin: 10px;
}


.inlineBlock_all{
    border-right: 1px solid rgb(255, 255, 255);
    margin: 10px;
    
}

.Flex_Grid_all{
    margin: 10px;
}

.content{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pather{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0c7feb;

}

.son{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: #15033e;
}

.son:nth-child(2n +1){
    background-color: aqua;
}

.pather_grid{
    display: grid;
    width: 200px;
    height: 200px;
    background-color: rgb(242, 8, 8);
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.son_grid{
    background-color: #15033e;
}

.son_grid:nth-child(2n +1){
    background-color: aqua;
}

.body_z{
    background-color: #fff;
    margin: 4rem;
    width: 90%;
    height: 400px;
    z-index: -4;
    position: absolute;
}

.body_z h1{
    color: black;
    padding: 1rem;
}

.div_1{
   
    top: 50px;
    z-index: 0;
}

.div_2{
   
    z-index: -1;
    top: 100px;

}

.div_3{
   
    top: 150px;
    z-index: -2;

}

.div_4{
   
    z-index: -3;
    top: 200px;

}

.main_Z div
{
    left: 43%;
    position: absolute;
    width: 100px; 
    height: 100px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 50%; 
}

.main_CSS{
    background-color: #03091e;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.Card{
    width: 400px;
    height: 500px;
    margin: 1rem;
    border-radius: 10%;
    background-color: #03091e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    border: 5px solid white;
}

.Card h1{
    color: rgb(255, 255, 255);
}
.Card h3{
    color: rgb(255, 255, 255);
}

.img_card{
    top: 0;
    width: 100%;
    height: 40%;
    position: static;
}

.logo{
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: -80px;
}

.logo img{
    width: 150px;
}

.info h3{
    color: rgb(255, 255, 255);
    margin: 1rem;
}

.info{
    display: flex;
    justify-content: space-between;
    
}

.info h3{
    color: rgb(255, 255, 255);
    margin: 1rem;
}

.info_2{
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;

}

.container{
    background-color: #24385b;
    color: white;
    border-style: solid;
    border-color: dimgray;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: none;

}

.container p{
    padding: 1rem;
}

.cabecera{
    text-align:left ;
    background-color: #000d28;
    font-size: 33px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.cabecera #tagline{
    padding: 1rem;
    font-size: 25px;
    font-weight: initial;
    color: white;
}

.logo{
    width: 200px;
}

.h1_H{
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.ul{
    display: flex;
    list-style: none;
    margin:0;
    color: white;
}

.nav{
    display: flex;
    background-color: #121f3d;
    border-bottom-style: solid;
    border-color: #03091e;
}

.nav_a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: #121f3d;
    border-style: none;
    height: 2rem;
    font-weight: bold;
    font-size:15px;
}


.ul li {
    padding: 1rem;
}

.logo_nav{
    height: 60px;
}
.footer{
    background-color: #03091e;
    color: white; 
    position: fixed;
    width: 100%;
    height: 220px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}



.redes{
    text-align: center;
    margin: 0;
    width: auto;



}

.footer p{
    width: 50%;
    margin-left:25%;
    padding: 6px;
}

.T{
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(0, 149, 255);
}
.F{
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-image: radial-gradient(circle at 50% -20.71%, #a7deff 0, #6c90d8 50%, #38496b 100%);
}
.I{
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.Y{
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background: rgb(255,0,0);
background: linear-gradient(39deg, rgba(255,0,0,1) 70%, rgba(255,68,68,1) 100%);
}
