.App {
  /* text-align: center; */
  color: white;
  margin: 1rem;
}


.App h1{
  font-size: 40px; ;
}

.App a{
  color: white;
  text-decoration: none;
}

.img_juan{
  width: 400px;
}

.liHome{
  margin: 1rem
}

.listitems {
  margin: 2rem ; 
  list-style: none;
}

.listitems li{
  margin: 1rem;

}

.listitems li:hover{
  margin: 2rem;
  color:#98ca3f ;
  font-weight: bold;
}


.listitems li a{
  outline: none;
  padding: 2px 1px 0;
}

.listitems li a:hover{
  color: #98ca3f;
}

.pHome{
  margin: 1rem;
}