*{
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Cabin', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Titillium Web', sans-serif;
    margin: 0;
    background-color: #121f3d;
}




